main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      
      "n n n"
      "a a a"
      
  }
  nav {
    grid-area: n;
  }
  
  article {
    grid-area: a;
  }
  
 