.hatter{
    background: rgb(196,169,246);
    background: linear-gradient(90deg, rgba(196,169,246,1) 0%, rgba(210,167,247,1) 4%, rgba(203,134,246,1) 50%, rgba(119,228,231,1) 100%);
}
body{
   background-color: rgb(247, 223, 253);
}
h1{
    text-align: center;
    font-weight: bold;
}
p{
    margin : 5%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.kozep{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gomb{
    background-color: #b894fc; /* Green */
  border: none;
  color: rgb(7, 7, 7);
  padding: 15px 32px;
  text-decoration: none;
 
  font-size: 16px;
}
.tarolo {
    position: relative;
  }
  
  .bottomright {
    position: fixed;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
  }
  
  